:root {
  --primary: #B11F24 !important;
  --secondary: #1C6D95 !important;
  --light: #FFFFFF !important;
  --dark: #152440 !important;
}

nav img {
  max-width: 40%;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link.active {
  color: #1C6D95;
}

.bg-primary {
  background-color: #1C6D95 !important;
}

.bg-dark {
  background-color: #B11F24 !important;
}

.btn-primary {
  background-color: #B11F24 !important;
}

.text-primary {
  color: #1C6D95 !important;
}

.bg-dark {
  background-color: #1C6D95 !important;
}